.main {
    display: flex;
    justify-content: center;
}

.container {
    min-width: 480px;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxInputs {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 24px 0;
}

.boxBtns {
    display: flex;
    align-items: center;
}

.text {
    margin-right: -32px;
}
